<footer class="bg-light text-muted">
    <div class="container">
        <div class="row pt-4">
            <div class="col-sm-12 text-center">
                <p>Copyright (C) 2021 Tastylog. All Rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
